@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    margin: 0;
}

.one-box {
    height: 480px;
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img{
    margin-top: 3px;
    margin-left: 170px;
    width: 60px;
}

.right-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    display: flex;
    margin: 0 170px;
    gap: 2px;
    color: #F9FAFA;
}

.textnbuttons {
    flex-basis: 400px;
}

.main-text {
    padding-top: 100px;
    margin-right: 55px;
    max-width: 365px;
    font-weight: 700;
    font-size: 48px;
}

.sec-text {
    max-width: 270px;
}

.join {
    display: flex;
    align-items: center;
}

.log-in {
    margin-top: 8px;
    margin-left: 32px;
}

.log-in a {
    font-size: 14px;
}

.join .sign-in button {
    border: none;
    margin-top: 10px;
    padding: 8px 35px;
    border-radius: 5px;
    text-decoration: none;
    color: #F9FAFA;
    background-color: #3382F6;
}

.join .sign-in a,
.join .log-in a {
    font-size: 14px;
}

.cube-img {
    align-self: flex-end;
    margin-left: auto;
}

.cube-img img {
    width: 440px;
}

ul {
    display: flex;
    margin-right: 170px;
    max-height: 20px;
    gap: 64px;
    padding: 0;
    list-style-type: none;
}

.sign-in a,
.log-in a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.two-box {
    background-color: #F9FAFA;
}

.information-container {
    text-align: center;
    margin: 0 170px;
}

.information-header {
    margin: 42px 0;
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.box-container img{
    border: 3px solid #3382F6;
    padding: 10px;
    border-radius: 8px;
    width: 130px;
    height: auto;
}

.box-text, .price {
    color: #4c5563;
    margin-bottom: 10px;
}

.buy button,
.out-stock button {
    border: none;
    margin-top: 10px;
    padding: 8px 35px;
    border-radius: 5px;
    text-decoration: none;
    color: #F9FAFA;
    background-color: #3382F6;
}

.buy a {
    font-size: 13px;
    color: #F9FAFA;
    text-decoration: none;
}

.quote-section{
    display: flex;
    background-color: #E5E7EB;
}

.quote-text {
    padding: 125px;
    margin: 0 185px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.three-box {
    background-color: #F9FAFA;
}

.cta {
    margin: 150px 180px;
    border-radius: 12px;
    color: #F9FAFA;
    background-color: #3382F6;
}

.cta-content {
    display: flex;
    padding: 54px 110px;
}

.cta-main {
    font-size: 30px;
    font-weight: bolder;
}

.cta-button {
    margin-left: auto;
}

.cta-button button{
    border: 2px solid #F9FAFA;
    margin-top: 10px;
    padding: 8px 35px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #3382F6;
    align-self: center;
}

.cta-button a {
    font-size: 18px;
    color: #F9FAFA;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: #1F2937;
    color: #F9FAFA;
}

.footer a{
    padding: 0 10px;
    color: #e5e7eba4;
    text-decoration: none;
}

.footer a:hover {
    color: #E5E7EB;
}